.hide {
        display: none;
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #40bb3c91;
        padding: 50px 0px;
        margin: 0;
        box-sizing: border-box;
      }
      section {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 15px;
        margin: 0 20px;
      }
      h1 {
        text-align: center;
        margin-top: 0px;
        padding-bottom: 10px;
      }

      input {
        height: 30px;
        border: 0;
        border-bottom: 2px solid #40bb3c;
        padding: 5px 0px;
        width: 100%;
      }
      input,
      input::placeholder {
        font-size: 16px;
      }
      input:focus-visible {
        outline: none;
      }
      button#btn-add {
        background-color: #40bb3c;
        color: #fff;
        border: 0;
        padding: 4px 15px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 20px;
      }
      .eintrag {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
      }
      #todo-list {
        line-height: 20px;
      }
      #todo-list li {
        border-bottom: 1px solid #d6e6d5;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      #todo-list li p {
        padding-right: 20px;
      }
      #todo-list li button {
        background-color: #40bb3c52;
        color: #fff;
        border: 0;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        font-size: 18px;
      }
      #liste-entf {
        background: transparent;
        border: 0;
        color: #40bb3c;
        font-weight: 800;
        cursor: pointer;
        padding: 0;
      }
      ul {
        list-style: none;
        padding: 0;
      }